// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.box{
      border:solid 1px lightblue;
      display: block;
      position: relative;
      height:350px;
      margin: 8%;

      .post_title{
            font-size:30px;
            margin: 10px;
            height: 45px;
      }
      .post_content{
            display: inline-block;
            width: 80%;
            height:100px;
            overflow:hidden;
            margin: 0;
            box-sizing: inherit;
      .text{
            display: inline-block;
            margin: 0;
            padding: 0;
            box-sizing: inherit;
      
            height: 100px;
            overflow:hidden;
           
         }
      }
      .post_birth{
            line-height: 54px;
            display: inline;
            box-sizing: inherit;
      }
      .post_mos{
            height:50px;
      }
      .post_edit{
            position: relative;
            bottom: 0;
            padding-left:110px ;
            padding-top:30px ;
      }
    
}
.row_box{
      width: 100%;
      height: 100vh;
      position: relative;
}
.new_post{
      width: 100%;
}
.row_content{
      width: 80%;
      height: 90%;
}

.add_title {
      display: inline-block;
      margin: 40px;
      left: 4%;
      #post_title{
      width: 400px;  
      border-top:none;
      border-left:none;
      border-right:none;
      }
 }

.add_post #post_content{
      width: 100%;
      height: 1000px;
      top:100px;
      font-size: 30px;
      overflow-y:auto;
      border:none;
 }
 #post_content:hover{
       border-left: gray solid 2px;

 }
 #post_content #text{
      border-bottom: dotted 1px gray;

 }
 
 .show_box{
       
       position: relative;
       height: auto;
       margin-top:5%;
       .show_post_title{
            font-size: 50px;
            left: 10%;
            // position: absolute;
       }
       .post_author{
            font-size: 17px;
            position: relative;
            display: block;
            height: 100px;
            left: 10%;
       }
       .show_post_content{
             font-size: 35px;
             width:80vw;
             padding: 1%;
             position: relative;
             left:10%;
             box-sizing: inherit;
             white-space: nowrap;
             height: auto;
             display: block;
       .trix-content div{
             display: block;
             white-space:pre-line;
             word-wrap:break-word;  
           }
       }
 }

 .add_bun{
      border:solid 1px lightgreen;
      border-radius: 28px;
      display: inline-block;
      position: absolute;
      top: 8%;
      right: 30px;
      box-sizing: border-box;
      background-color: lightgreen;
      width: 46px;
      color: gray;
      line-height: 46px;
      transition: all 0.8s;
      overflow: hidden;
      text-decoration: none;
 }

 .add_bun span{
      white-space: nowrap;
      text-decoration:none;
      opacity: 0;
      
 }
 .add_bun:hover{
      padding: 0 25px;
      width: auto;
      background-color: gray;
 }
 .add_bun:hover span{
      opacity: 1;
      color: lightgreen;
}
 .add_bun:after{
       content: "+";
       font-size: 40px;
       line-height: 40px;
       color: gray;
       position: absolute;
       right: 10px;
       top:0px;
 }
 .add_bun:hover::after{
       opacity: 0;
 }
 .post_content img{
      //border: 1px solid #000;
      width: 200px;
      height: 180px;
 }

 .show_back{
       position: fixed;
       bottom: 100px;
       left: 90%;
       border: solid 2px rgb(163, 46, 163);
       background-color: orange;
       border-radius: 25px;
       padding:0 20px;
       line-height: 25px;
       font-size: 20px;
       color:rgb(163, 46, 163);
 }
 .post_submit input{
      position: fixed;
      top: 100px;
      left: 80%;
      border: solid 2px rgb(163, 46, 163);
      background-color: orange;
      border-radius: 25px;
      line-height: 25px;
      font-size: 20px;
      padding: 0 20px;
      color:rgb(163, 46, 163);
}

 .post_comment{
       position: relative;
       display: block;

 }
 .comment_text{
       width: auto;
       height: 100px;
 }

 .comment_user i.fas{
      font-size: 70px;
 }

 