<div class="container">

      <div class="add_b" style="position:relative;width:100vw;height:100px;margin-bottom:50px">
            <h4 style=" left:20%; display:inline-block;position:absolute;">新增文章</h4>
      </div>

      <%=render "form.html.erb",post:@post%>
</div>