// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.box{
      border:solid 1px lightblue;
      display: block;
      position: relative;
      height:200px;
      margin: 5%;

      .post_title{
            font-size:30px;

      }
      .post_content{
           
            display: block;
            width: 80%;
            height:100px;
            overflow:hidden;
      }
    
      .post_birth{
            position: absolute;
            bottom: 20px;
            right: 20%;

      }
      .post_mos{
            position: absolute;
            bottom: 20px;
            right: 0%;
      }
    


}
.add_title {
      position: relative;
      display: block;
      width: 80vw;
      border-radius: 10px;
      left:65px;
      top:30px;
      #post_title{
            width: 60vw;
      }
 }
.add_post {
      margin:5%;
      width: 80vw;
    
      #post_content{
            height: 60vh;
      }

 }
  .add_post textarea{
      margin:10%;
      width: 80vw;
      height: 60vh;
 }
 .show_box{
       
       position: relative;
       height: 100vh;
       margin-top:5%;
       .show_post_title{
            font-size: 50px;
       }
       .show_post_content{
             
             font-size: 35px;
             width:80vw;
             padding: 1%;
             position: relative;
             left:10%;
             box-sizing: inherit;
             white-space: nowrap;
       .trix-content div{
             display: block;
             white-space:pre-line;
             word-wrap:break-word;  
            
            
      }

         

       }
       
 }