// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.box{
      border:solid 1px lightblue;
      display: block;
      position: relative;
      height:300px;
      margin: 8%;

      .post_title{
            font-size:30px;

      }
      .post_content{
           
            display: block;
            width: 80%;
            height:150px;
            overflow:hidden;
      }
    
      .post_birth{
            position: absolute;
            bottom: 20px;
            right: 20%;

      }
      .post_mos{
            position: absolute;
            bottom: 20px;
            right: 1%;
      }
    


}
.add_title {
      position: relative;
      display: block;
      width: 80vw;
      border-radius: 10px;
      left:5%;
      top:80px;
      #post_title{
            width: 60vw;
      }
 }
.add_post {
      margin:5%;
      width: 80vw;
    
      #post_content{
            height: 60vh;
      }

 }
  .add_post textarea{
      margin:10%;
      width: 80vw;
      height: 60vh;
 }

 .show_box{
       
       position: relative;
       height: 100vh;
       margin-top:5%;
       .show_post_title{
            font-size: 50px;
            left: 10%;
            position: absolute;
       }
       .show_post_content{
             
             font-size: 35px;
             width:80vw;
             padding: 1%;
             position: relative;
             left:10%;
             box-sizing: inherit;
             white-space: nowrap;
       .trix-content div{
             display: block;
             white-space:pre-line;
             word-wrap:break-word;  
           }

       }
      
       
 }
 .post_submit{
      position: absolute;
      right: 200px;
      bottom:15%;
}
 .add_bun{
          border:solid 1px orange;
          border-radius: 28px;
          text-decoration: none;
          display: inline-block;
          position: absolute;
          top:5px;
          right: 30px;
          box-sizing: border-box;
       
          background-color: orange;
          width: 56px;
          color: gray;
          line-height: 56px;
          transition: all 0.8s;
          overflow: hidden;

 }
 .add_bun span{
      white-space: nowrap;
      opacity: 0;
 }
 .add_bun:hover{
            padding: 0 25px;
            width: auto;
            background-color: #1e1e1e;
 }
 .add_bun:hover span{
      opacity: 1;
      color: orange;
}
 .add_bun:after{
       content: "+";
       font-size: 40px;
       line-height: 50px;
       color: gray;
       position: absolute;
       right: 13px;
       top:0px;
       
 }
 .add_bun:hover::after{
       opacity: 0;
      
 }
 .post_content img{

      border: 1px solid #000;
      width: 150px;
      height: 150px;
 }

 .show_back{
       position: fixed;
       bottom: 100px;
       right: 100px;
       border: solid 2px rgb(163, 46, 163);
       background-color: orange;
       border-radius: 25px;
       padding:0 20px;
       line-height: 25px;
       font-size: 20px;
       color:rgb(163, 46, 163);

 }